---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Akrem *(Ah-krem)* is a builder focused on turning complexity into clarity—whether through thoughtful products, streamlined systems, or purpose-driven communities. His work blends creativity, strategy, and technology to help teams bring ideas to life.
		</p>
		<p>He's open to collaborating on meaningful projects and enjoys working with teams that care about both people and process. You can find more of his work at <a href='https://yourlink.com' target='_blank' class="underline">yourlink.com</a>.</p>
	</div>
</div>


