---
// This file redirects correctly to the posts folder
---

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0;url=/posts/" />
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="/posts/">/posts/</a>...</p>
  <script>
    window.location.href = "/posts/";
  </script>
</body>
</html>