---
// This file redirects correctly to the project folder
---

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0;url=/project/" />
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="/project/">/project/</a>...</p>
  <script>
    window.location.href = "/project/";
  </script>
</body>
</html>